<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/senior_care"
        android:label="@string/app_name"
        android:roundIcon="@drawable/senior_care"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileSeniorCare"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"

        tools:targetApi="31">
        <activity
            android:name=".telas.cadastro.CadastroIdoso"
            android:exported="false"
            android:label="@string/title_activity_cadastro_idoso"
            android:theme="@style/Theme.MobileSeniorCare" />
        <activity
            android:name=".telas.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MobileSeniorCare" />

        <activity
            android:name=".telas.EdicaoPerfil"
            android:exported="true"
            android:label="@string/title_activity_edicao_perfil"
            android:theme="@style/Theme.MobileSeniorCare" />
        <activity
            android:name=".telas.Login"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MobileSeniorCare" />
        <activity
            android:name=".telas.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MobileSeniorCare">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>